{% extends 'base.html' %}

{% block title %}УДАЛИТЬ ОПРОС{% endblock %}

{% block menu %}
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{% url 'index' %}">НА ГЛАВНУЮ</a>
        <a href="{% url 'detail' poll.pk %}" class="navbar-brand">ПРОСМОТР</a>
        <a href="{% url 'update' poll.pk %}" class="navbar-brand">РЕДАКТИРОВАТЬ</a>
    </nav>
{% endblock %}


{% block content %}
    <h1>Вы уверены, что хотите удалить задачу.:  {{ poll }}?</h1>
    <form method="POST" action="{% url 'delete' poll.pk %}" class="text-center">
        {% csrf_token %}
        <p class="d-grid gap-2 mt-5 mb-5"><input type="submit" value="ПОДТВЕРДИТЬ" class="btn btn-danger"></p>
        <p class="d-grid gap-2"><a href="{% url 'poll' %}" class="btn btn-primary">ОТМЕНА</a></p>
    </form>
{% endblock %}


