{% extends 'base.html' %}

{% block menu %}

{% endblock %}

{% block content %}
<a href="#" class="mb-3 mt-3 btn btn-primary">ДОБАВИТЬ ОПРОС</a>
    <h1 class="mb-3 mt-3">ОПРОСЫ:</h1>

    {% for poll in polls %}
        <div class="card mb-2">
            <div class="card-body">
                <h2 class="card-title">{{ poll.question }}</h2>
                <p class="card-text">{{ poll.created_at }}</p>
                <a href="{% url 'detail' poll.pk %}" class="btn btn-primary">ПРОСМОТРEТЬ</a>
                <a href="{% url 'update' poll.pk %}" class="btn btn-danger">РЕДАКТИРОВАТЬ</a>
                <a href="{% url 'delete' poll.pk %}" class="btn btn-secondary">УДАЛИТЬ</a>
                <a href="#" class="btn btn-success">ПРОЙТИ ОПРОС</a>
            </div>
        </div>
    {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}